.git
.env
.credentials/
key_service_account.json
*service_account*.json
.DS_Store
airflow_settings.yaml
__pycache__/
astro
.venv
.astro/standalone/
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
.venv
.venv/
.venv
venv/
target/
dbt_packages/
logs/
.env
include/gcp-dev-key.json